<section class="grayback">
  <div class="clearfix ">
    <div class="container">
      <div class="catalog-genre-list clearfix">
        <ul class="catalog-genre-aside">
          <li>
            <span>Популярное</span>
          </li>
          <li>
            <a href="/books/">Каталог</a>
          </li>
          <li><a href="/books/top/">Рейтинг</a></li>
          <li>
            <a href="/recommendations/">Рекомендации</a>
          </li>
          <li>
            <a href="/books/new/">Новинки</a>
          </li>
          <li>
            <a href="/series/">Серии и циклы</a>
          </li>
          <li><a href="/collections/">Подборки</a></li>
          <li><a href="/reviews/waiting/">Ждут рецензий</a></li>
        </ul>
        <div class="catalog-genre-genres clearfix">
          <% genres.in_groups_of(10, false).map.with_index do |group, index| %>
            <%= content_tag :ul do %>
              <% if index == 0 %>
                <%= content_tag :li, genre_tab('Все', books_path) %>
              <% end %>
              <% group.each do |genre| %>
                <%= content_tag :li, genre_tab(localized_genre_name(genre), genre_path(genre)) %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>