- provide(:title, localized_genre_name(@genre))
= render partial: 'genres/catalog_genre_list', locals: { genres: @genres }
%section.books-cards
  .container
    .wrapper
      .section-title-head
        %h1= localized_genre_name(@genre)
      .catalog-book-list.clearfix
        = render partial: 'books/book', collection: @books, cached: true
      .d-flex.justify-content-center.mt-5.pb-5
        = pagination(@pagy)
