<% provide(:title, localized_genre_name(@genre)) %>

<%= render partial: 'genres/catalog_genre_list', locals: { genres: @genres } %>

<section class="books-cards">
  <div class="container">
    <div class="wrapper">
      <div class="section-title-head">
        <h1><%= localized_genre_name(@genre) %></h1>
      </div>

      <div class="catalog-book-list clearfix">
        <%= render partial: 'books/book', collection: @books, cached: true %>
      </div>

      <div class="d-flex justify-content-center mt-5 pb-5">
        <%= pagination(@pagy) %>
      </div>
    </div>
  </div>
</section>
