<div class="dropdown">
  <%= link_to '#', class: 'nav-link px-2 dropdown-toggle text-white mt-2',
              data: { turbo: true, "bs-toggle": 'dropdown' } do %>
    <%= current_user.gravatar %>
  <% end %>
  <ul class="dropdown-menu">
    <li>
      <%= link_to t('header.dropdown.item.edit'),
                  edit_profile_path,
                  class: 'dropdown-item' %>
    </li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li>
      <%= link_to t('header.dropdown.item.log_out'),
                  destroy_user_session_path,
                  class: 'dropdown-item', data: { turbo: true, turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    </li>
  </ul>
</div>