<aside class="profile-settings--sidebar cf">
  <%= render partial: 'profiles/avatar', locals: { profile: profile } %>

  <ul class="ps--nav">
    <li>
      <%= link_to 'Профиль', edit_profile_path, class: active_controller == 'profiles' ? 'active' : '' %>
    </li>
    <li>
      <%= link_to 'Интересы', '#', class: active_controller == 'interests' ? 'active' : '' %>
    </li>
    <li>
      <%= link_to 'Аккаунт', edit_user_registration_path, class: active_controller == 'registrations' ? 'active' : '' %>
    </li>
  </ul>

  <a href="#" class="btn-gray-blue"><i>←</i>Вернуться в профиль</a>
</aside>