<div class="authors-letters-filter">
  Авторы по алфавиту:
  <ul class="letters">
    <% initial_letters_range.each do |letter| %>
      <%= tag.li do %>
        <%= letter_tab letter, by_initial_letter_authors_path(initial: letter) %>
      <% end %>
    <% end %>
  </ul>
</div>
