<% provide(:title, 'New author') %>

<section class="section-edit">
  <div class="container">
    <div class="edit-block">
      <h2 class="edit-block__title col-lg-10 mx-auto">
        New author
      </h2>

      <%= render "form", author: @author %>
    </div>
  </div>
</section>