<% provide(:title, 'New author') %>

<h1 class="text-center">New author</h1>

<div class="col-lg-8 mx-auto">

  <%= render "form", author: @author %>

  <div class="mt-2">
    <%= link_to "Back to authors", authors_path %>
  </div>

</div>