.edit
  &-icon
    position: absolute
    top: 0
    right: 0
    height: 30px
    padding: 5px 5px 8px
    background-color: white
    text-align: center
    font-size: 5px
    color: #6f42c1
    z-index: 1
    border: 1px solid #050404

  &:hover
    cursor: pointer
    text-decoration: underline

.cover
  height: 270px

.section
  &-book
    padding-top: 30px
    padding-bottom: 30px

.book
  &-card
    &-button
      padding-left: 100px
      padding-right: 100px

.rate
  margin-right: 20px

.card
  border: none
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)

.card-body
  padding: 1.25rem

.card-title
  font-size: 2rem
  margin-bottom: 0.5rem

.card-text
  font-size: 1.25rem

.text-muted
  color: #6c757d