.edit
  &-icon
    position: absolute
    top: 0
    right: 0
    height: 30px
    padding: 5px 5px 8px
    background-color: white
    text-align: center
    font-size: 5px
    color: #6f42c1
    z-index: 1
    border: 1px solid #050404

  &:hover
    cursor: pointer
    text-decoration: underline

.cover
  height: 270px
