<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <p>Please correct the following errors:</p>
      <ul>
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>