<% if flash.any? %>
  <div id="flash-messages">
    <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag :div, class: "alert alert-#{flash_class(key)} alert-dismissible fade show" do %>
          <%= value %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>