<footer id="footer" class="footer cf">
  <div class="container">
    <div class="footer-wrapper">
      <div class="row">
        <%= render partial: 'shared/footer/nav' %>
        <%= render partial: 'shared/footer/newsletter_form' %>
      </div>
      <div class="d-flex justify-content-between py-4 my-4 border-top">
        <p>&copy; <%= Time.now.year %> BookWorld, Inc. All rights reserved.</p>
        <%= render partial: 'shared/footer/lang_dropdown' %>
      </div>
    </div>
  </div>
</footer>


