<% provide(:title, 'Edit Book') %>

<section class="section-edit">
  <div class="container">
    <div class="edit-block">
      <h2 class="edit-block__title col-lg-10 mx-auto">
        Edit Book
      </h2>

      <%= render 'book_form' %>
    </div>
  </div>
</section>
