<% provide(:title, 'All Books') %>

<h1>All Books</h1>

<div class="row row-cols-2 row-cols-lg-6 g-4 g-lg-6 mt-2">
  <%= render partial: 'books/book', collection: @books %>
</div>

<div class="d-flex justify-content-center mt-5 mb-5">
  <%= pagination(@pagy) %>
</div>

