<% provide(:title, @book.title) %>

<section class="section-book">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <%= image_tag(cover(@book), width: 300, alt: "#{@book.title}", class: "img-fluid") %>
        <div class="d-grid gap-2 book-card-button">
          <button class="btn btn-primary btn-half-width mt-3" type="button">Want to Read</button>
        </div>
      </div>

      <div class="col-md-8">
        <%= render partial: 'books/book_info', locals: { book: @book } %>
        <hr>
        <%= render partial: 'books/reviews', locals: { book: @book, reviews: @reviews } %>
      </div>
    </div>
  </div>
</section>
