.main
  margin-top: 65px

#flash-messages
  width: 100%
  top: 67px
  position: absolute
  left: 50%
  transform: translateX(-50%)

.alert-btn-close
  right: 368px !important

.nav-link
  &__white
    color: #eaeaea

    &:hover
      color: #f7bf05

  &__orange
    color: #ef8557

    &:hover
      color: #eaeaea

.section-title-head
  margin: 46px 0 26px 50px

  h1
    clear: both
    color: #5c5c5c
    font-size: 15px
    font-weight: 500
    line-height: 30px
    margin: 26px 0
    display: inline
    text-transform: uppercase