<% provide(:title, t('review.new.title')) %>

<section class="section-edit">
  <div class="container">
    <div class="edit-block">
      <h2 class="edit-block__title col-lg-10 mx-auto">
        <%= t('review.new.title') %>
      </h2>

      <%= render partial: 'review_form', locals: { book: @book, review: @review } %>
    </div>
  </div>
</section>
