- provide(:title, t('review.new.title'))
%section.section-edit
  .container
    .edit-block
      %h2.edit-block__title.col-lg-10.mx-auto
        = t('review.new.title')
      = render partial: 'review_form', locals: { book: @book, review: @review }
