<div class="search-form">
  <%= form_tag(search_path, method: :get, class: "ng-pristine ng-valid") do %>
    <div class="d-flex justify-content-center align-items-center">
      <div class="search-block--text-input">
      <span class="twitter-typeahead" style="position: relative; display: inline-block;">
        <%= text_field_tag :search, params[:search], class: "tt-hint tt-query", placeholder: t('home.section.search.form.input.placeholder'), autocomplete: "off", spellcheck: false %>
      </span>
      </div>
      <%= submit_tag t('home.section.search.form.input.submit'), class: "btn-orange-big-index-20" %>
    </div>
  <% end %>
</div>